li,
a {
  position: relative;
}
a.active {
  color: #1a73e8;
  background-color: white;
  padding-inline: 4px;
  padding-block: 2px;
  border-radius: 2px;
}

.dark-nav a::after,
.dark-nav a.active::after {
  background: white;
}
